{% extends "layout.html" %}

{% block heading %}
    First Page
{% endblock %}

{% block body %}
    <div>
        <a href="{{url_for('more')}}">See More</a>
    </div>

        <h1 style="color: green; text-align: center;">Introduction to webprogramming</h1> 
       <h2> Lecture 0 git for collaboration </h2>
        <br>

    <form  action="{{url_for('submit')}}" method="post">
        <h3>place your comment</h3><br>
        Message: <input type="text" name="message" placeholder="type your message here" ><br>
        Name: <input type="text" name="name"><br>
        <button>Submit</button>
    </form>
    </div>
    <div class="list">
        <b>Unordered List</b>
        <ul>
            <li>Item1</li>
            <li>Item2</li>
        </ul>
        <ol>
            <li>Item3</li>
            <li>Item4</li>
        </ol>
    </div>
{% endblock %}